{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/react",
    "plugin:import/warnings",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "react",
    "mistertemp",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "bracketSpacing": true,
      "printWidth": 100,
      "singleQuote": true,
      "tabWidth": 4,
      "trailingComma": "all",
      "jsxBracketSameLine": true,
      "useTabs": false
    }],
    "import/no-extraneous-dependencies": "off",
    "mistertemp/order-imports": ["error", {
      "ignoreCase": true,
      "ignoreMemberSort": false,
      "newLineBetweenGroups": true
    }]
  }
}
